@import "layout_primitives.css";
@import "styles.css";


h1 {
  font-size: var(--s2);
}

h2 {
  font-size: var(--s1);
}

p {
  font-size: var(--s0);
}


.overview-page.container {
  /*max-width: 100% !important;*/
  width: 70%;
  box-sizing: border-box;
}

/* Make the card inside it also fill the full width */
.overview-page .card {
  width: 100%;
  max-width: 100%;
}

/* .taipy-text h1 {color: tomato;} */

.overview-page .plot-container {
  width: 50%;

}

/* .overview-page .taipy-text{
  text-align:center
}  */


.home-page .taipy-image {
  position: absolute;
  top: 0;
  right: 20%;  /* Moves it 15% away from the right edge */
  margin: 1rem; /* spacing */
}


/* NAVBAR CSS */
.MuiTabs-flexContainer button.Mui-selected {
  color: #51abcb; /* text color for active tab */
  /* background-color: white; background color for active tab */
  border-radius: 5px;
}
.MuiTabs-indicator {
  background-color: #51abcb;
}

