/*@import "variables.css";*/
@import "layout_primitives.css";
@import "styles.css";

h1,
h2,
h3,
p {
  color: var(--primaryColor);
}

h1 {
  font-size: var(--s2);
}

h2 {
  font-size: var(--s1);
}

p {
  font-size: var(--s0);
}


/* Make the outer container stretch full width */
.overview-page.container {
  /*max-width: 100% !important;*/
  width: 70%;
  box-sizing: border-box;
}

/* Make the card inside it also fill the full width */
.overview-page .card {
  width: 100%;
  max-width: 100%;
}

/* .taipy-text h1 {color: tomato;} */

.overview-page .plot-container {
  width: 50%;

}

